<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.netcracker.spring"/>


    <bean id="Earth" name="Земля EarthPlanet" class="com.netcracker.spring.Planet">
        <constructor-arg value="Earth"/>
    </bean>

    <bean id="Jupiter" class="com.netcracker.spring.Planet">
        <constructor-arg value="Jupiter"/>
    </bean>

    <bean id="Mars" class="com.netcracker.spring.Planet" init-method="init">
        <constructor-arg value="Mars"/>
        <property name="oldName" value="Old Mars"/>
        <property name="nonExistedField" value="FAdsag"/>
    </bean>

    <bean id="Sun" class="com.netcracker.spring.Star">
        <constructor-arg value="Sun"/>
    </bean>

    <bean id="Factory" class="com.netcracker.spring.NonStaticFactory"/>
    <bean id="Neptune" class="com.netcracker.spring.Planet" factory-bean="Factory" factory-method="init"/>

    <bean id="SolarSystem" class="com.netcracker.spring.SolarSystem">
    </bean>

</beans>
